{% extends 'base.html.twig' %}

{% block title %}Producteurs
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>
			{{producteur}}</h1>
		<hr>

		<h3>{{producteur.address}}</h3>
		<h3>{{producteur.city}}</h3>

		<ul class="product-list">
			{% for product in producteur.products %}
				<li>
					<h5>{{product.name}}
					</h5>
					<h5>{{product.quantity}}
						en stock
					</h5>
					<span class=" price">{{product.price}}
						€</span>
					<p>
						<button class="add-to-cart">Ajouter au panier</button>
					</p>
				</li>
			{% endfor %}

		</ul>

		{% if accepted|length > 0%}
			<h4>Mes checkpoints à valider</h4>
			<form action="{{path("producteur_detail", {'id': producteur.id})}}" method="post" name="acceptCheckpoint">
				{% for key, checkpoint in producteur.checkpoints %}
					{% if not checkpoint.isAccepted %}
						<input type="checkbox" name="{{"checkpoint#{key}"}}">
						{{checkpoint.name}}
					{% endif %}
				{% endfor %}
				<button type="submit">Accept</button>
			</form>
		{% endif %}
		<hr>
		{% if refused|length > 0 %}
			<h4>Mes checkpoints</h4>
			{% for checkpoint in producteur.checkpoints %}
				{% if checkpoint.isAccepted %}
					{{checkpoint.name}}
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
