{% extends 'base.html.twig' %}

{% block title %}Producteurs
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Producteurs</h1>
		<hr>
		<div class="item-list">
			{% for producteur in producteurs %}
				<div class="item">

					<a href="{{path('producteur_detail', {'id': producteur.id})}}">
						<h2>{{producteur}}
							{{producteur.id}}</h2>
					</a>
					<h3>{{producteur.city}}</h3>

					<ul>
						{% for product in producteur.products %}
							<h5>{{product.name}}
							</h5>
							<h5>{{product.quantity}}
								en stock
							</h5>
							<span class="price">{{product.price}}
								€</span>
							<p>
								<button class="add-to-cart">Ajouter au panier</button>
							</p>
						{% endfor %}
					</ul>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
