<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			<nav>
				<li>
					<a href="{{path('checkpoint')}}">Home</a>
				</li>

				<li>
					<a href="{{path("checkpoint")}}">Checkpoints</a>
				</li>
				<li>
					<a href="{{path("producteur")}}">Producteurs</a>
				</li>
				{% if not app.user %}
					<li>
						<a href="{{path("register")}}">Inscription</a>
					</li>
				{% endif %}
				{% if not app.user %}
					<li>
						<a href="{{path("app_login")}}">Connexion</a>
					</li>
				{% endif %}
				{% if not is_granted('ROLE_ADMIN')%}
					<li>
						<a href="{{path("organisateur")}}">Organisateur</a>
					</li>
				{% endif %}
				{% if app.user %}
					<li>
						<a href="{{path("app_logout")}}">Logout</a>
					</li>
				{% endif %}

			</nav>
			{% block body %}{% endblock %}
		</body>
	</body>
</html>

<style>
	html,
	body {
		padding: 0;
		margin: 0;
	}
	nav {
		background-color: #333;
		margin-top: 0;
		padding: 8px;
		display: flex;
		justify-content: space-around;
		list-style-type: none;
	}

	nav li a {
		color: #ff4;
	}
	.example-wrapper {
		margin: 1em auto;
		max-width: 800px;
		width: 95%;
		font: 18px / 1.5 sans-serif;
	}
	.item-list {
		display: flex;
	}
	.item {
		width: 300px;
		border: solid 1px #ccc;
		padding: 20px;
		margin: 10px;
	}
	a {
		text-decoration: none;
		color: #4682B4;
	}
	a:hover {
		color: #6495ED
	}
	.price {
		color: #6495ed;
	}

	form div {
		margin: 10px;
	}
	form div input {
		height: 20px;
		margin-left: 12px;
	}
	form .register-btn {
		background-color: lightblue;
		border: none;
		padding: 8px 30px;
		border-radius: 8px;
	}
	.product-list {
		display: flex;
		justify-content: space-around;
		list-style-type: none;
	}
	.product-list li {
		box-shadow: 2px 2px 8px #ccc, -2px -2px 8px #ccc;
		padding: 20px;
		text-align: center;
	}
	.product-list .add-to-cart {
		background-color: lightgreen;
		padding: 4px 12px;
		border-radius: 8px;
		border: none;
		cursor: pointer;
	}
	.product-list .add-to-cart:hover {
		opacity: .7;
	}
	.orga-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.orga-actions,
	.orga-register {
		width: 45%;
		margin: auto 10px;
		border: solid 1px #ccc;
		padding: 20px;
	}
</style>
