{% extends 'base.html.twig' %}

{% block title %}Checkpoint detail
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<div class="item">
			<h1>
				{{checkpoint.name}}</h1>
			<h4>{{checkpoint.address}}</h4>
			<h3>{{checkpoint.city}}</h3>
			<hr>

			<div class="">
				<h2>Les producteurs de ce checkpoint :</h2>
				{% for producteur in checkpoint.producteurs %}
					<ul>
						<a href="{{path("producteur_detail", {'id': producteur.id})}}">
							<li>
								<h3>{{producteur}}</h3>
								<h5>{{producteur.address}}</h5>
							</li>
						</li>
					</a>
				</ul>
			{% endfor %}
		</div>
	</div>

</div>{% endblock %}
