{% extends 'base.html.twig' %}

{% block title %}Organisateurs
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Organisateurs !
		</h1>
		<div class="orga-wrapper">
			<div class="orga-register">
				<h3>S'inscrire en tant qu'Organisateur</h3>

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.firstname) }}
				{{ form_row(registrationForm.lastname) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
            		label: 'Password'
				}) }}

				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="register-btn">Register</button>

				{{ form_end(registrationForm) }}
			</div>
			<div class="orga-actions">
				<h3>- Créer un checkpoint</h3>

				<h3>- Assigner des producteurs à des checkpoints</h3>

				<h3>- Assigner des livraisons à des producteurs</h3>
			</div>
		</div>
	</div>
{% endblock %}
